.face {
  text-align: center;
height: 350px;
margin: auto;
display: flex;
  justify-content: center;
  align-items: center;
}
.face.f1 {
padding : 10px;
  float: left;
  width: 50%;
display: flex;
}
.face.f2 {
padding : 10px;
  float: left;
  width: 0%;
}
.face.f3 {
padding : 10px;
  float: left;
  width: 50%;
}
@media screen and (max-width: 600px ) {
  .face.f1, .face.f2, .face.f3{
      width: 100%;
  }
}
.con1 {
display: flex;
align-items: center;
padding-left: 265px;
}
.con2 {
display: flex;
align-items: center;
padding-right: 50px;
}

.circle {
display: inline-block;
overflow: hidden;
border-radius: 50%;
width: 200px;
height: 200px;
margin: 0 auto;
background-size: cover;
background-position: center;
vertical-align: middle;
}
.circle img {
width: 100%;
height: 100%;
object-fit: cover;
}
.content-wrapper {
  margin: 0 250px; /* 왼쪽과 오른쪽 마진을 20px로 설정 */
}
